<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Plantilla</title>
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>

	<div th:include="plantilla.html::cabecera"></div>
	<div th:include="plantillaAdmin.html::pModificacion"></div>
	<main>
		<aside>
			<div th:include="plantilla.html::menu"></div>
		</aside>
		<div class="adminContainer">
			<section>
				<table border="1">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Precio</th>
							<th>Foto</th>
							<th>Genero</th>
							<th>Categoria</th>
							<th>Talla</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="elem : ${atr_lista_productos}">
							<td th:text="${elem.id}">Id</td>
							<td th:text="${elem.nombre}">Nombre</td>
							<td th:text="${elem.precio}">Precio</td>
							<td>
								<img th:src="${elem.foto}" height="64px;"><br>
								<a th:href="@{/adminBorrarFoto(id=${elem.id})}">Borrar</a>
							</td>
							<td th:text="${elem.genero.genero}">Genero</td>
							<td th:text="${elem.categoria.nombre}">Categoria</td>
							<td th:text="${elem.talla.nombre}">Talla</td>
							<td>
								<a th:href="@{/adminBorrarProducto(id=${elem.id})}">Borrar</a>
								<a th:href="@{/adminFrmModificarProducto(id=${elem.id})}">Modificar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
			<section>
				<h2>Añadir Prodcto</h2>

				<form method="post" th:action="@{/adminAnadirProducto}" th:object="${obj_producto}"
					enctype="multipart/form-data">

					<label>Nombre: </label>
					<input type="text" th:field="*{nombre}" />
					<br />

					<label>Precio: </label>
					<input type="text" th:field="*{precio}" />
					<br />

					<label>Foto: </label>
					<input type="file" name="param_foto" />
					<br />

					<label>Genero: </label>
					<select th:field="*{genero.id}">
						<option th:each="elem :${atr_lista_generos}" th:text="${elem.genero}" th:value="${elem.id}">
						</option>
					</select>

					<br />
					<label>Categoria: </label>
					<select th:field="*{categoria.id}">
						<option th:each="elem :${atr_lista_categorias}" th:text="${elem.nombre}" th:value="${elem.id}">
						</option>
					</select>

					<label>Talla: </label>
					<select th:field="*{talla.id}">
						<option th:each="elem :${atr_lista_tallas}" th:text="${elem.nombre}" th:value="${elem.id}">
						</option>
					</select>

					<br />
					<input type="submit" value="Agregar producto" />

				</form>
				<h2>Buscar Producto</h2>
				<form method="post" th:action="@{/busquedaFullText}" th:object="${obj_producto}"
					enctype="multipart/form-data">

					<label>Nombre: </label>
					<input type="text" th:field="*{nombre}" />
					<br />

					<label>Genero: </label>
					<select th:field="*{genero.id}">
						<option th:each="elem :${atr_lista_generos}" th:text="${elem.genero}" th:value="${elem.id}">
						</option>
					</select>

					<br />
					<label>Categoria: </label>
					<select th:field="*{categoria.id}">
						<option th:each="elem :${atr_lista_categorias}" th:text="${elem.nombre}" th:value="${elem.id}">
						</option>
					</select>
					<label>Talla: </label>
					<select th:field="*{talla.id}">
						<option th:each="elem :${atr_lista_tallas}" th:text="${elem.nombre}" th:value="${elem.id}">
						</option>
					</select>
					<br />
					<input type="submit" value="Buscar producto" />
					<br/>
				</form>
				<h2>Generar copia de Seguridad</h2>
				<form action="/copiaSeguridadProductos" method="POST">
					<input type="submit" value="Generar CSV Productos" />
				</form>
				<form action="/copiaSeguridadCategorias" method="POST">
					<input type="submit" value="Generar CSV Categorias" />
				</form>
				<form action="/copiaSeguridadGeneros" method="POST">
					<input type="submit" value="Generar CSV Genero" />
				</form>
				<form action="/copiaSeguridadTallas" method="POST">
					<input type="submit" value="Generar CSV Tallas" />
				</form>
				<h2>Restaurar copia de Seguridad</h2>
				<form action="/restaurarProductos" method="POST">
					<input type="submit" value="Restaurar CSV Productos" />
				</form>
				<form action="/restaurarCategorias" method="POST">
					<input type="submit" value="Restaurar CSV Categorias" />
				</form>
				<form action="/restaurarGeneros" method="POST">
					<input type="submit" value="Restaurar CSV Genero" />
				</form>
				<form action="/restaurarTallas" method="POST">
					<input type="submit" value="Restaurar CSV Talla" />
				</form>
			</section>
		</div>
	</main>

</body>

</html>